body {
	padding-top: 70px;
}

.panel {
	min-height: 165px;
}

.panel-title {
	font-size: 15px;
}

.panel-body {
	font-size: 18px;
}

.panel-body .team {
	margin-top: 30px;
	margin-bottom: 0;
}

.plusminus label {
	min-width: 35px;
}

.small {
	width: 60%;
	margin-left: 8px;
}

#pointspread {
	overflow: auto;
}

#pointspread input[type=text],
#multiplier input[type=text] {
	width: 45%;
}

#bet-modal input[type=submit] {
	height: 100px;
	width: 100px;
	padding: 20px;
	margin-top: 40px;
}

.panel-small {
	min-height: 0;
	font-weight: bold;
	margin-bottom: 5px;
}

.panel-small .row div:nth-child(-n+3) {
	margin-top: 12px;
}